<?php

$vendorDir = __DIR__.'/../vendor';

if (class_exists('Symfony\Component\ClassLoader\UniversalClassLoader')) {
    return;
}

if (file_exists($file = $vendorDir . '/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php')) {
    $autoload = require_once $file;
} else {
    throw new RuntimeException('Install dependencies to run test suite: php vendor/vendors.php');
}

require_once $vendorDir.'/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';
use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Symfony' => array($vendorDir.'/symfony/src', $vendorDir.'/bundles'),
    'FOS' => array($vendorDir.'/bundles/'),
));

$loader->register();

spl_autoload_register(function($class) {
    if (0 === strpos($class, 'Nmn\\MultiUserBundle\\')) {
        $path = __DIR__.'/../'.implode('/', array_slice(explode('\\', $class), 2)).'.php';
        if (!stream_resolve_include_path($path)) {
            return false;
        }
        require_once $path;

        return true;
    }
});